description: Configure environment variable EW_API_TOKEN for emulator.wtf credentials
parameters:
  oidc_configuration_id:
    description: OIDC configuration ID as configured in emulator.wtf (assumes hardcoded credentials). If not provided, the value will be read from the environment variable specified in `oidc_configuration_id_variable`.
    type: string
    default: ""
  oidc_configuration_id_variable:
    description: Environment variable (secret) name for OIDC configuration ID as configured in emulator.wtf.
    type: env_var_name
    default: OIDC_CONFIGURATION_ID
steps:
  - run:
      name: Configure emulator.wtf Credentials
      environment:
        OIDC_CONFIGURATION_ID_PARAM: <<parameters.oidc_configuration_id>>
        OIDC_CONFIGURATION_ID_VARIABLE: <<parameters.oidc_configuration_id_variable>>
      command: <<include(scripts/configure_credentials.sh)>>
